h1 {
	width: 110px;
}

div.apicustom {
	color: white;
	text-align: center;
}

div.apicustom a, a:link, a:active, a:visited, a:hover {
	color: red;
	background-color: transparent;
	text-decoration: none;
}

div.apicustom a:hover {
	color: white;
}
